{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<H1>
    Home
</H1>
<p>
    Mau makan apa king?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia commodi harum facere nulla atque laudantium nobis
    tempora, dignissimos expedita provident a assumenda maiores hic? Officia inventore sunt iusto maxime hic.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nulla labore tenetur illo, vero soluta ab
    eius rerum ipsum necessitatibus nostrum recusandae, vel doloremque nobis ratione at veritatis excepturi
    voluptatibus.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aliquam doloribus, repellendus eveniet beatae
    exercitationem reiciendis eligendi delectus, ea saepe enim nisi nulla. Officiis nobis dolorem, consectetur optio
    exercitationem reprehenderit.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente cumque nulla consequatur minus eaque sequi
    officiis autem facilis ipsa magnam non ullam voluptatum fuga expedita, distinctio cum odit enim obcaecati.
</p>
{% endblock %}